# Node stuff
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build output
.next
out
dist
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# VCS
.git
.gitignore
.gitattributes

# Env & secrets
.env
.env*.local

# Tests & coverage
coverage
*.test.js
*.spec.js
*.spec.ts
*.test.ts
jest.config.js

# Docs & configs not needed in container
*.md
docs
scripts/*.sh
.doc
.husky

# Editor settings
.vscode
.idea
*.swp
*.swo
